[Unit]
Description=Hackmitten Frontend
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/hackmitten/frontend
EnvironmentFile=/etc/hackmitten/frontend.env
ExecStart=/usr/local/bin/bun run start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
